h1 {
    font-size: 30px; 
    color: white;
    text-align: center;
    margin-top: 0;
}

#introduction, #academic-background, #extracurricular-activities, #skills, #projects, #awards-and-honors, #personal-interests {
    text-align: left;
    margin: 20px auto;
    border:2px solid black;
    word-wrap: break-word;
    font-size: larger;
    width:90vw;
    height:fit-content;
    border-radius:2vw;
    padding:1vh 2vw;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0; 
}

.introduction ul,
.academic-background ul,
.extracurricular-activities ul,
.skills ul,
.awards ul {
    list-style-position: inside;
    padding-left: 0;
}

li {
    margin-left: 0; 
    padding-left: 5px; 
}

p:not(footer p) {
    white-space: pre-wrap; 
    margin: 0; 
}

h2:not(footer h2) {
    text-align: center;
    font-size: 25px;
    text-decoration: underline white;
}

.introduction b, .extracurricular-activities b {
    text-decoration: underline;
}

.projects a {
    display: inline-flex;
    background-color: black;
    color: white;
    text-decoration: none;
    border: 2px solid whitesmoke;
    font-size: 18px;
    width: 100px;
    height: auto;
    text-align: center;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

p:not(footer p) a {
    display: inline-flex;
    background-color: none;
    color: cyan;
    border: none;
    width: 50px;
    height: auto;
    text-align: center;
    text-decoration: underline white;
    font-size: larger;
    margin: 0;
    padding-right: 25px;
}

.header a:hover {
    color: yellow;
}

@media (max-width: 425px) {
    body {
        background-image: url("../Images/Background.jpg");
        background-color: black;
    }
    .header {
        display: none;
    }
    .pg-title {
        width: 40%;
        height: 50px;
        background-color: black;
        border: 5px double whitesmoke;
        border-radius: 50px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    h1 {
        font-size: 35px;
        color: white;
        text-align: center;
        margin-top: 0;
    }
    p {
        white-space: pre-wrap;
        margin: 0 auto;
        text-align: center;
    }
    img {
        height: 10px;
        width: 10px;
        border: double white;
        box-shadow: none;
        margin: none;
        border-width: 2px;
        border-radius: 20px;
    }
    div[class="project"] {
        text-align: center;
        margin: 0 auto;
        word-wrap: break-word;
        font-size: larger;
    }
    div[class="project"] b {
        text-decoration: underline cyan;
    }
    h2 {
        text-align: center;
        font-size: 30px;
        text-decoration: underline white;
    }
    ul,
    ol {
        list-style-position: inside;
        text-align: center;
    }
    /* Hamburger menu styles */
    .menu-icon {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .menu-icon div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 4px;
        transition: 0.4s;
    }
    .menu-icon.active .bar1 {
        transform: rotate(-45deg) translate(-5px, 5px);
    }
    .menu-icon.active .bar2 {
        opacity: 0;
    }
    .menu-icon.active .bar3 {
        transform: rotate(45deg) translate(-5px, -5px);
    }
    .menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 50px;
        right: 10px;
        background-color: black;
        border: 5px double whitesmoke;
        width: 225px;
        padding: 10px;
        z-index: 1;
    }
    .menu a {
        padding: 10px;
        text-decoration: none;
        color: whitesmoke;
        text-align: left;
        width: 100%;
        font-size:30px;
    }
    .menu a:hover {
        background-color: gray;
    }
}

@media (min-width: 426px) {
    .menu {
        display: none;
    }
    /* Hide the menu icon on devices larger than 425px */
    .menu-icon {
        display: none;
    }
}