html,body{
    width:100%;
    min-height:fit-content;
    overflow-x:clip;
}
body {
    background-image: url("../Images/Background.jpg");
    --bg-color: initial;
    --text-color: initial;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 60px;
}
.header {
    width: 99%; 
    height: 50px;
    background-color: inherit;
    text-align: right;
    padding-top: 10px;
    padding-left: 20px;
    margin-top:-60px;
    position: fixed;
    z-index:1000;
    border:10px solid linear-gradient(135deg, #12c2e9, #c471ed, #f64f59) !important;
    box-shadow: 2px 3px 50px 6px rgba(0, 0, 0, 0.2) !important;
}
.header a {
    font-size: 30px;
    margin-right: 50px; 
    color: whitesmoke;
}
#dark-theme, #light-theme{
    width:4vw;
    margin:1vh 1vw !important;
}
.theme-toggle {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}
.hidden {
    display: none;
}
.home, .projects-page, .achievements-page, .about-page, .contact-page{
    display: inline-block;
    font-weight: 600;
    margin: 0 2vw !important;
    text-decoration:none;
}
.button{
    border: solid whitesmoke !important; 
    border-width: medium; 
    border-radius: 1vw;
    display: block; 
    text-align:center !important; 
    height:fit-content; 
    width:12vw;
    margin:0 41%; 
    padding-top:1vh;
    background-color:rgb(0, 255, 64); 
}
.button a, .button{
    font-size:2vw; 
    color: black !important;
}
.pg-title {
    width: 25%; 
    height: 50px;
    background-color: black;
    border: 5px double whitesmoke;
    border-radius: 50px;
    text-align: center;
    margin: 20px auto;
    padding-top: 10px;
}
.pg-title h1{
    font-size:30px;        
    margin: 0 auto;
    text-align: center;
    padding-top:2px;
}