h1 {
    font-size: 30px; 
    color:white;
    margin: 0;
}
.my-projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
}
.my-project {
    text-align: center;
    margin: 60px;
}
.my-project img {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: none;
    border: none;
    border-radius: 20px;
}
.my-project a.button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 20px;
    color: black;
    background-color: rgb(0, 255, 64);
    text-decoration: none;
    border: 2px dashed whitesmoke;
    width: fit-content;
}
.my-project a.button:hover {
    background-color: rgb(0, 204, 51);
}
.header a:hover{
    color:rgb(0, 255, 0) !important;
}

/* Media query for screens smaller than 425px */
@media (max-width: 425px) {
    body {
        background-image: url("../Images/Background.jpg");
        background-color: black;
    }
    div[class="box"] {
        display: none;
    }
    div[class="header"] {
        width: 50%;
        height: 50px;
        background-color: black;
        border: 5px double whitesmoke;
        border-radius: 50px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding-top: 10px;
    }
    h1 {
        font-size: 25px;
        color: white;
        text-align: center;
        margin-top: 0;
        padding-top:5px;
    }
    .my-projects {
        padding: 10px;
    }
    div[class="project"] {
        margin: 20px 10px;
    }
    div[class="project"] img {
        width: 80%;
        height: auto;
    }
    div[class="project"] a.button {
        font-size: 16px;
        padding: 8px;
    }
}

/* Hamburger menu styles */
.menu-icon {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: 0.4s;
}
.menu-icon.active .bar1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}
.menu-icon.active .bar2 {
    opacity: 0;
}
.menu-icon.active .bar3 {
    transform: rotate(45deg) translate(-5px, -5px);
}
.menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: black;
    border: 5px double whitesmoke;
    width: 225px;
    padding: 10px;
    z-index: 1;
}
.menu a {
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
    text-align: left;
    width: 100%;
    font-size: 20px;
}
.menu a:hover {
    background-color: gray;
}
@media (min-width: 426px) {
    .menu {
        display: none;
    }
    /* Hide the menu icon on devices larger than 425px */
    .menu-icon {
        display: none;
    }
}