h1 {
    font-size: 30px; 
    color:white;
    margin: 0;
}
.my-projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
}
.my-project {
    text-align: center;
    margin: 60px;
}
.my-project img {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: none;
    border: none;
    border-radius: 20px;
}
.my-project a.button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 20px;
    color: black;
    background-color: rgb(0, 255, 64);
    text-decoration: none;
    border: 2px dashed whitesmoke;
    width: fit-content;
}
.my-project a.button:hover {
    background-color: rgb(0, 204, 51);
}
.header a:hover{
    color:rgb(0, 255, 0);
}

/* Media query for screens smaller than 425px */
@media (max-width: 425px) {
    body {
        background-image: url("../Images/Background.jpg");
        background-color: black;
    }
    .header {
        display: none;
    }
    .my-projects {
        padding: 10px;
    }
    div[class="project"] {
        margin: 20px 10px;
    }
    div[class="project"] img {
        width: 80%;
        height: auto;
    }
    div[class="project"] a.button {
        font-size: 16px;
        padding: 8px;
    }
}

@media (min-width: 749px) {
    .menu {
        display: none;
    }
    /* Hide the menu icon on devices larger than 425px */
    .menu-icon {
        display: none;
    }
}